.bulk-card {
    &-header{
        margin-top: 16px;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            font-size: 14px;
            color: #333333;
            font-weight: 700;
        }
    }
    &-container {
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        padding: 24px;
    }
    &-textfield-group {
        margin-top: 16px;
        p {
            color: #828282;
            margin: 0;
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.row-group {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    &-input {
        width: calc(50% - 22px);
        height: 80px;
    }
}
.delete-icon{
    cursor: pointer;
}