.create-category-container{
    margin-top: 60px;
    padding: 24px;
    // min-height: calc(100vh - 160px);
    height: auto;
    display: flex;
    justify-content: center;
}
.add-category-button{
    background: #2e31be;
    border-radius: 4px;
    padding: 0 24px;
    .n-button-secondary{
        color: @White;
    }
}
.opaque{
    opacity: 30%;
}