@import '../color.less';

.list-packaging{
    &-container{
        background-color: @White;
        border-radius: 12px;
        padding: 24px;
        height: 100%;
        &-header{
            color:@Mako;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
.list-container{
    .page-error .page-error-text span{
        margin: 0;
    }
    button{
        background-color: @White !important;
        color: #2e31be;
    }
}
.add-packaging-btn{
    background: #2e31be;
    border-radius: 4px;
    padding: 0 24px;
    color: @White !important;
}