@import '../color.less';

.list-packaging{
    &-container{
        background-color: @White;
        border-radius: 12px;
        padding: 24px;
        height: 100%;
        position: relative;
        &-header{
            color:@Mako;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
        }
        &-products{
            margin-top: 24px;
        }
    }
}
.list-container{
    margin-top: 16px;
    height: calc(100% - 200px);
    overflow: auto;
    &-pagination{
        position: absolute;
        bottom: 0;
        width: calc(100% - 24px);
        left: auto;
        display: flex;
    }
    &-products-row{
        margin-top: 16px;
    }
    .page-error .page-error-text span{
        margin: 0;
    }
    button{
        background-color: @White !important;
        color: #2e31be;
        padding: 0px;
    }
}
.add-packaging-btn{
    background: #2e31be !important;
    border-radius: 4px !important;
    padding: 0 24px !important;
    color: @White !important;
}