@import '../color.less';

.list-packaging{
    &-container{
        background-color: @White;
        border-radius: 12px;
        padding: 24px;
        height: 100%;
        &-header{
            color:@Mako;
            font-size: 24px;
        }
    }
}
.list-container{
    .page-error .page-error-text span{
        margin: 20px;
    }
}