@import '../color.less';
.packaging-create {
    &-container {
        width: 75%;
        background: @White;
        // height: 100%;
        border-radius: 12px;
        padding: 24px;
        &-header {
            font-weight: 700;
            font-size: 24px;
            color: #4f4f4f;
        }
    }
}
.create-packaging {
    &-search-container{
        margin-top: 32px;
    }
    &-row-2 {
        margin-top: 32px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &-row-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }
}
.row-2-input {
    width: calc((100% / 3) - 22px);
    height: 60px;
}
.row-3-input {
    margin-top: 32px;
    width: calc(50% - 22px);
    height: 60px;
}
.toggle-container{
    &-l3-header{
        p{
            margin: 0;
            font-size: 20px;
            font-weight: 700;
            color: #4F4F4F;
        }
        display: flex;
        margin-top: 34px;
    }
    &-l3-body{
        margin-top: 16px;
    }
    &-l3-list{
        margin-top: 16px;
        display: flex;
        &-item{
            align-items: center;
            padding: 8px;
            font-size: 12px;
            font-weight: 400;
            color: #41434C;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 4px;
            width: 100px;
            display: flex;
            justify-content: space-between;
            margin-left: 12px;
        }
        &-item:first-child{
            margin: 0;
        }
    }
   
}
.l3-list-item-ellipsis{
    white-space: nowrap !important;
    width: auto;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 70px;
    cursor: default;
}
.icon-cross{
    cursor: pointer;
}