.packaging-card {
    &-button {
        cursor: pointer;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-container {
            display: flex;
            gap: 10px;
            align-items: center;
            cursor: default;
        }
    }
    &-extra {
        font-weight: 400;
        font-size: 12px;
        color: #666666;
        display: flex;
        gap: 30px;
    }
    &-container {
        background: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }
    &-config {
        &-container {
            display: flex;
        }
    }
    &-info {
        display: flex;
        gap: 10px;
        align-items: center;
        &-image {
            height: 50px;
            width: 50px;
            border: 1px solid #e0e0e0;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        &-name {
            font-weight: 600;
            font-size: 12px;
        }
        &-other {
            font-weight: 400;
            font-size: 12px;
            display: flex;
            margin-top: 8px;
            gap: 10px;
            text-transform: capitalize;
        }
        &-text {
            padding: 10px;
        }
    }
}
.packaging {
    &-card-config-container {
        align-items: center;
        gap: 30px;
        span {
            font-size: 14px;
            font-weight: 400;
            color: #828282;
        }
    }
    &-card-name {
        font-size: 16px;
        font-weight: 600;
        color: #41434c;
    }
    &-config-container {
        display: flex;
        gap: 10px;
    }
}
.config-item {
    align-items: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #41434c;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 50px;
    display: flex;
    justify-content: center;
    &-ellipsis {
        white-space: nowrap !important;
        width: auto;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        max-width: 40px;
        cursor: default;
    }
}

.extra-count {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e31be;
    background: #ffffff;
    border: 1px solid #2e31be;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    width: 20px;
}
