@import '../color.less';
.packaging-create{
    &-container{
        width: 75%;
        background: @White;
        // height: 100%;
        border-radius: 12px;
        padding: 24px;
        &-header{
            font-weight: 700;
            font-size: 24px;
            color: #4F4F4F;
        }
    }
}